body{
    background-color: #E6FAFF;
}

.container{
    position: absolute;
    top: 50%;
    margin-top: -200px;
    left: 0;
    width: 100%;
}

.main{
    width: 70%;
    margin: 0 auto;
    vertical-align: middle;
    background-color: #3D7AFF;
}

.header{
    font-size: 6rem;
    font-family: 'Josefin Sans', sans-serif;
}

.text{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2.5rem;
}
